{% load static %}
<!DOCTYPE html>
<html lang="en" data-theme="dark">
<head>
    {% include "_snippets/_head_tag.html" %}
</head>
<body>
    <canvas id="bg-particles"></canvas>

    <!-- Navigation -->
    {% include "_snippets/_navbar.html" %}

    <!-- Messages -->
    {% include "_snippets/_messages.html" %}

    <!-- Main Content -->
    <main class="flex-shrink-0">
        {% block content %}{% endblock %}
    </main>

    <!-- Footer -->
    {% include "_snippets/_footer_tag.html" %}

    <!-- Scripts -->
    {% include "_snippets/_scripts.html" %}

</body>
</html>
